body {
  background-attachment: fixed;
  background-image: url("assets/mbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.index-grid {
  display: grid;
  grid-template-rows: 5% 71% 20%;
  grid-row-gap: 2%;
}
