body {
  background-attachment: fixed;
  background-image: url("assets/mbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.body-container {
  display: grid;
  grid-template-rows: 5% 70% 15%;
  grid-row-gap: 3%;
}
