.instagram-grid {
  display: grid;
  grid-template-rows: 5% 90%;
  grid-row-gap: 5%;
  align-items: center;
  justify-content: center;
}

.search-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  /* margin-top: -5%; */
}

.results-grid {
  display: grid;
  grid-template-rows: 100% 100%  100%;
  grid-gap: 1%;
  grid-column
}

.resultsRow {
  display: flex;
  justify-content:center;
  /* width: 100%; */
  /* height: 100%; */
  grid-row-gap: 5%;
  /* justify-content: space-around; */
}

.postItem {
  max-height: 200px;
}

input[type=text] {
  width: 250px;
  font-size: 55px;
  border:3px solid #ddd;
  border-radius: 6%;
  margin-right: 15px;
}

input[type="submit"] {
  font-size: 45px;
  height: 70px;
  border-color: solid #ddd;
  border-radius: 6%;
  text-align: center;
}

input[type="submit"]:hover{
  background-color: #999;
}

.postItem img[alt="post"] {
  width: 300px;
  height: 300px;
}

.postItem img[alt="heartIcon"] {
  width: 42px;
  height: 42px;
}

.postItem :nth-child(2) {
  font-size: 40px;
  margin-top: 5px;
}

.postItem :nth-child(3) {
  font-size: 36px;
  width: 16ch;
  height: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lbl{
  font-size: 46px;
}
#option{
  font-size: 45px;
  height: 70px;
  border-radius: 6%;
  text-align: center;
  margin-left: 5px;
}
#option option{
    font-size: 22px;
}
/* DESKTOP */
@media screen and (min-width: 1100px){

  .containerInstagram {
      margin-top: 700px;
  }
  .searchContainer {
    margin-top: -45%;
  }

  .postItem img[alt="post"] {
    width: 400px;
    height: 400px;
  }
  .postItem :nth-child(3) {
    font-size: 38px;
    width: 25ch;
  }
}
