.grid-item {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5%;
  margin-bottom: 30px;
  font-family: Helvetica;
  background-color: rgba(54, 55, 65, 0.3);
}

.grid-item p {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}

.avatar {
  margin-top: 4%;
  max-width: 50%;
  border: 1px solid #70a4be;
  border-radius: 50%;
  border-width: 5px;
  border-color: rgba(100, 140, 170, 0.4);
}

.avatarName {
  align-content: center;
}

.avatarName p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 500%;
  text-shadow: 1px 2px 4px #353646;
}

.avatarInfo p {
  padding: 5%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.7);
  font-size: 280%;
}
