.nav-container {
  display: grid;
  grid-template-columns: 30% 23% 27% 14%;
  grid-gap: 2%;

  position: fixed;
  width: 94%;

  background-color: rgba(51, 58, 64, 0.2);
  border-radius: 25px;
  border: 2px solid #5b7282;
  padding: 2%;

  font-family: Helvetica;
  color: ;
  text-shadow: 1px 2px 4px #000000;
}


nav div {
  display: inline-block;
  font-size: 45px;
}

nav a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
